#background {
  background-image: url("./images/christmas1.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#logo {
  font-family: "Elsie Swash Caps", cursive;
  margin-left: 15px;
}

#Giver {
  text-align: center;
}

#Receiver {
  text-align: center;
}

#hollyJolly {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
}

#giverTable {
  padding-top: 10%;
  background-image: url("./images/christmas1.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#listNames {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
}

#recieverInput {
  padding-top: 5%;
}

#receiverDataForm {
  text-align: center;
}

#recieverPage {
  padding-top: 10%;
  background-image: url("./images/christmas1.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#inputBackground {
  margin-left: 25%;
}

#receiverForm {
  padding-left: 15%;
}

#receiverGiver {
  margin-left: 25%;
  margin-right: 25%;
}

#receiverSubmitButton {
  margin-left: 40%;
  margin-right: 40%;
}

#receiverUpdateButton,
#receiverDeleteButton {
  color: red;
}

#giverSubmitButton {
  margin-left: 25%;
  margin-right: 25%;
}
